<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rescos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResCos">
        <activity android:name=".MainActivity6"
            android:label="RECYCLE"
            android:parentActivityName=".MainActivity4"></activity>
        <activity
            android:name=".MainActivity5"
            android:label="ZERO WASTE"
            android:parentActivityName=".MainActivity4" />
        <activity android:name=".MainActivity4" />
        <activity
            android:name=".MainActivity3"
            android:label="ACTIVITY"
            android:parentActivityName=".MainActivity4" />
        <activity android:name=".Login" />
        <activity android:name=".Register">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity2"
            android:label="QUIZ"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/Theme.ResCos.NoActionBar" />
        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity"
            android:theme="@style/Theme.ResCos.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rescos.ItemListActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="QUIZ"
            android:parentActivityName=".MainActivity4">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>